version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"    # Puerto de comunicación AMQP (para Java, Python, etc.)
      - "15672:15672"  # Panel web de administración
    networks:
      - rabbit-net

networks:
  rabbit-net:
    driver: bridge
